{# forum.twig #}
{% extends "./layout/layout.twig" %}

{% block header %}
<section class="o-container is-active">
	<h2 class="t-forum-page-title"><a class="t-forum-page-title-link" href="" title="{{ forums[1].name }}">{{ forums[1].name }}</a></h2>
	<div class="o-modal c-warning is-active" data-container="modal">
		<a class="c-warning-close" href="" data-toggle="modal" data-tooltip="true" title="{{ lang.close }}">
			<svg class="o-icon c-warning-icon"><use xlink:href="#close"></use></svg>
			</a>
		<header class="o-modal-header">
			<h2 class="o-modal-header-title c-warning-title">
				{{ lang.forum_rules }}
			</h2>
		</header>
		<div class="o-modal-body c-warning-body">
			{{ rules[1].content | safe }}
		</div>
	</div>
</section>
<section class="o-container">
	{% include './includes/forum-tools.twig' %}
</section>
{% endblock %}

{% block main %}
<section class="o-container">
	<ul class="o-list c-topic">
		<li class="c-topic-header">
			<div class="o-bar">
				<ul class="o-bar-left">
					<li class="o-bar-item">
						<h2 class="o-bar-title">{{ lang.announcements }}</h2>
					</li>
				</ul>
				<ul class="o-bar-right">
					<li class="o-bar-item">
						<a class="o-bar-action" href="" data-tooltip="true" title="{{ lang.mark }}">
							<svg class="o-icon o-bar-action-icon"><use xlink:href="#mark"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</li>
		{% for topic in announcments %}
			{% include './includes/topic.twig' %}
		{% endfor %}
	</ul>
</section>
<section class="o-container">
	<ul class="o-list c-topic">
		<li class="c-topic-header">
			<div class="o-bar">
				<ul class="o-bar-left">
					<li class="o-bar-item">
						<h2 class="o-bar-title">{{lang.forum}}</h2>
					</li>
				</ul>
				<ul class="o-bar-right">
					<li class="o-bar-item">
						<a class="o-bar-action" href="" data-tooltip="true" title="{{ lang.mark }}">
							<svg class="o-icon o-bar-action-icon"><use xlink:href="#mark"></use></svg>
						</a>
					</li>
					<li class="o-bar-item">
						<span class="o-bar-info c-topic-header-info">
							<svg class="o-icon o-bar-info-icon"><use xlink:href="#topic"></use></svg>
							<span class="o-bar-item-text">{{ topics|length }}</span>
						</span>
					</li>
				</ul>
			</div>
		</li>
		{% for topic in topics | sort(false, false, 'type') %}
			{% if loop.index <= 25 %}
				{% include './includes/topic.twig' %}
			{% endif %}
		{% endfor %}
	</ul>
</section>
{% endblock %}

{% block footer %}
{% from './macros/online.twig' import whos_online %}
<section class="o-container">
	<div class="o-bar c-toolbar">
		<ul class="o-bar-left">
			<li class="o-bar-item">
				<a class="o-bar-action" href="" data-tooltip="true" title="{{ lang.return }}">
					<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#chevron-left"></use></svg>
				</a>
			</li>
		</ul>
		<ul class="o-bar-center">
			<li class="o-bar-item">
				<a class="o-bar-action" href="" title="{{ lang.load_more }}">
					<span class="c-toolbar-action-text t-toolbar-action-text">{{ lang.load_more }}</span>
					<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#load"></use></svg>
				</a>
			</li>
		</ul>
		<ul class="o-bar-right">
			<li class="o-bar-item">
				{% include './includes/jumpto.twig' %}
			</li>
		</ul>
	</div>
</section>
<section class="o-container">
	<div class="c-tab-card t-tab-card">
		<div class="c-tab-bar-frame t-tab-bar-frame">
			<nav class="c-tab-bar t-tab-bar" role="tablist" data-toggle="tabs">
				<a class="c-tab t-tab is-active" href="#forum-permissions" role="tab" aria-controls="forum-permissions">
					<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#permissions"></use></svg>
					<span class="c-tab-text t-tab-text">{{lang.permissions}}</span>
				</a>
				<a class="c-tab t-tab" href="#whos-online" role="tab" aria-controls="whos-online">
					<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#online"></use></svg>
					<span class="c-tab-text t-tab-text">{{lang.whos_online}}</span>
				</a>
			</nav>
		</div>
		{% include './includes/permissions.twig' %}
		{{ whos_online('forum', forums[1].online, lang) }}
	</div>
</section>
{% endblock %}
