<nav class="c-drawer t-drawer" data-container="drawer">
	<ul class="c-drawer-nav t-drawer-nav">
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'exit-to-app'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.logout}}</span>
			</a>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'account-circle-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.profile}}</span>
			</a>
		</li>
		<li class="c-drawer-divider t-drawer-divider"></li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link" data-toggle="drawer-menu">
				{{ 'tune'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.user_panel}}</span>
			</a>
			<ul class="c-drawer-menu t-drawer-menu" data-container="drawer-menu">
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'guage'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.forum_overview}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'format-list-checks'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.board_prefs}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'account-settings'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.profile_settings}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'outline-group'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.groups}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'account-heart-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.friends_foes}}</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link" data-toggle="drawer-menu">
				{{ 'gavel'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.mod_panel}}</span>
			</a>
			<ul class="c-drawer-menu t-drawer-menu" data-container="drawer-menu">
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'chart-donut'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.queue}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'alert-circle-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.reports}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-drawer-link-icon t-drawer-link-icon">
						{{ 'outline-receipt'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.notes}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'alert-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.warnings}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'outline-assignment'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.logs}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'ban'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.bans}}</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'shield-account-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.admin_panel}}</span>
			</a>
		</li>
		<li class="c-drawer-divider t-drawer-divider"></li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link" data-toggle="drawer-menu">
				{{ 'file-multiple-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.quick_links}}</span>
			</a>
			<ul class="c-drawer-menu t-drawer-menu" data-container="drawer-menu">
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'file-yours'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.your_posts}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'file-new'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.new_posts}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'file-document-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.unread_posts}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'file-alert'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.unanswered_topics}}</span>
					</a>
				</li>
				<li class="c-drawer-item t-drawer-item">
					<a class="c-drawer-link t-drawer-link">
						{{ 'file-active'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
						<span class="c-drawer-link-text t-drawer-link-text">{{lang.active_topics}}</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'help-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.faqs}}</span>
			</a>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'outline-contacts'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.members}}</span>
			</a>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'account-group-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.team}}</span>
			</a>
		</li>
		<li class="c-drawer-item t-drawer-item">
			<a class="c-drawer-link t-drawer-link">
				{{ 'email-outline'|icon('inline', 'o-icon iconify c-drawer-link-icon t-drawer-link-icon')|safe }}
				<span class="c-drawer-link-text t-drawer-link-text">{{lang.contact_us}}</span>
			</a>
		</li>
	</ul>
</nav>
