<div class="c-emoji-picker">
	<div class="c-emoji-picker-header">
		<div class="c-emoji-picker-search-wrap">
			<div class="c-emoji-picker-search">
				<input class="c-emoji-picker-search-feild" type="text" spellcheck="false" placeholder=":innocent:" value="" data-emoji-filter="input">
				<a class="c-emoji-picker-search-feild-button" href="#recent" tabindex="0" role="button">
					{{ 'mdi:search'|icon('iconify', 'o-icon c-emoji-picker-search-button-icon')|safe }}
				</a>
			</div>
		</div>
		<a class="c-emoji-picker-tone-button" href="#recent" tabindex="0" role="button" data-toggle="menu">
			{{ 'twemoji:ok-hand'|icon('iconify', 'o-icon c-emoji-picker-tone-button-icon')|safe }}
		</a>
		<div class="c-emoji-picker-tone-menu" data-container="menu">
			<a class="c-emoji-picker-tone-menu-item" href="#" data-emoji-append="">
				{{ 'twemoji:ok-hand'|icon('iconify', 'o-icon c-emoji-picker-tone-menu-item-icon')|safe }}
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Neutral Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#" data-emoji-append="light-skin-tone">
				{{ 'twemoji:ok-hand-light-skin-tone'|icon('iconify', 'o-icon c-emoji-picker-tone-menu-item-icon')|safe }}
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Light Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#" data-emoji-append="medium-light-skin-tone">
				{{ 'twemoji:ok-hand-medium-light-skin-tone'|icon('iconify', 'o-icon c-emoji-picker-tone-menu-item-icon')|safe }}
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Medium Light Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#" data-emoji-append="medium-skin-tone">
				{{ 'twemoji:ok-hand-medium-skin-tone'|icon('iconify', 'o-icon c-emoji-picker-tone-menu-item-icon')|safe }}
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Medium Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#" data-emoji-append="medium-dark-skin-tone">
				{{ 'twemoji:ok-hand-medium-dark-skin-tone'|icon('iconify', 'o-icon c-emoji-picker-tone-menu-item-icon')|safe }}
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Medium Dark Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#" data-emoji-append="dark-skin-tone">
				{{ 'twemoji:ok-hand-dark-skin-tone'|icon('iconify', 'o-icon c-emoji-picker-tone-menu-item-icon')|safe }}
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Dark Skin Tone</span>
			</a>
		</div>
	</div>
	<div class="c-emoji-picker-body">
		<div class="c-emoji-picker-area">
			{% for item in emojis %}
				<h4 class="c-emoji-picker-area-title" id="{{ item.slug }}">{{ item.title }}</h4>
				<div class="c-emoji-picker-section">
					{% if item.slug == 'custom' %}
						{% for emoji in item.emojis %}
							<a class="c-emoji-picker-section-item" href="#" tabindex="0" role="button" data-emoji-preview="emoji" data-emoji-name=":{{ emoji.name | replace(' ','-') | replace(' ','-') | lower }}:" data-emoji-code="{{ emoji.code | replace(' ','-') | lower }}">
								{{ emoji.name |icon('svg', 'o-icon c-emoji-picker-section-item-icon')|safe }}
							</a>
						{% endfor %}
					{% else %}
						{% for emoji in item.emojis %}
							<a class="c-emoji-picker-section-item" href="#" tabindex="0" role="button" data-emoji-preview="emoji" data-emoji-name=":{{ emoji.name | replace(' ','-') | replace(' ','-') | lower }}:" data-emoji-code="{{ emoji.code | replace(' ','-') | lower }}">
								{{ ('twemoji:' + emoji.name) | replace(' ','-') | lower | icon('iconify', 'o-icon c-emoji-picker-section-item-icon') | safe }}
							</a>
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="c-emoji-picker-preview" data-emoji-preview="container">
		{{ 'twemoji:grinning-face'|icon('iconify', 'o-icon c-emoji-picker-preview-icon')|safe }}<span class="c-emoji-picker-preview-icon">:grinning-face:</span>
	</div>
	<nav class="c-emoji-picker-footer" data-toggle="tabs">
		{% for item in emojis %}
	<a class="c-emoji-picker-tab{% if loop.first %} is-active{% endif %}" href="#{{ item.slug }}" title="{{ item.title }}" role="tab" aria-controls="{{ item.slug }}">
				{{ item.icon|icon('iconify', 'o-icon c-emoji-picker-tab-icon')|safe }}
			</a>
		{% endfor %}
	</nav>
</div>
