<div class="c-footer t-footer">
	<nav class="c-footer-nav t-footer-nav">
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#contact-us"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">{{ lang.contact_us }}</span>
		</a>
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#team"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">{{ lang.team }}</span>
		</a>
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#members"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">{{ lang.members }}</span>
		</a>
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#trash"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">{{ lang.delete_cookies }}</span>
		</a>
	</nav>
	<p class="c-footer-copyright t-footer-copyright">{{ lang.powered_by }} <a href="">{{ lang.site_title }}</a> {{ lang.copyright }}</p>
	<a href="">{{ lang.privacy }}</a> | <a href="">{{ lang.terms }}</a>
</div>
