<div class="c-tab-card t-tab-card">
	<div class="c-tab-bar-frame t-tab-bar-frame">
		<nav class="c-tab-bar t-tab-bar" data-toggle="tabs">
			<a class="c-tab t-tab is-active" href="#whos-online" role="tab" aria-controls="whos-online">
				{{ 'access-point'|icon('inline', 'o-icon iconify c-tab-icon t-tab-icon')|safe }}
				<span class="c-tab-text t-tab-text">{{ lang.whos_online }}</span>
			</a>
			<a class="c-tab t-tab" href="#forum-permissions" role="tab" aria-controls="forum-permissions">
				{{ 'check-shield'|icon('inline', 'o-icon iconify c-tab-icon t-tab-icon')|safe }}
				<span class="c-tab-text t-tab-text">{{ lang.permissions }}</span>
			</a>
		</nav>
	</div>
	<div class="c-tab-pane t-tab-pane is-active" id="whos-online">
		<div class="c-tab-pane-row t-tab-pane-row">
			<h4 class="c-tab-pane-title t-tab-pane-title">{{ lang.online_forum }}{{ lang.colon }}</h4>
			<span class="c-tab-pane-text t-tab-text">
				{% for item in forums[1].online %}
					{% if item.group %}
						{% if item.bot %}
							<span style="color: {{ item.group }};">{{ item.name }}</span>
						{% else %}
							<a class="c-tab-pane-link t-tab-pane-link" href="{{ item.profile }}" style="color: {{ item.group }};">{{ item.name }}</a>
						{% endif %}
					{% else %}
						<a class="c-tab-pane-link t-tab-pane-link" href="{{ item.profile }}">{{ item.name }}</a>
					{% endif %}
					{% if loop.last %}{% else %}, {% endif %}
				{% endfor %}
			</span>
		</div>
	</div>
	{% include './permissions.twig' %}
</div>
