<div class="o-bar c-toolbar">
	<ul class="o-bar-left c-toolbar-left">
		<li class="o-bar-item c-toolbar-item">
			<a class="o-bar-action c-toolbar-action" href="#" data-tooltip="true" title="{{ lang.new_topic }}">
				<span class="c-toolbar-action-text">{{ lang.new_topic }}</span>
				{{ 'plus'|icon('inline', 'o-icon iconify c-toolbar-action-icon t-toolbar-action-icon')|safe }}
			</a>
		</li>
	</ul>
	<ul class="o-bar-right c-toolbar-right">
		<li class="o-bar-item c-toolbar-item">
			<a class="o-bar-action c-toolbar-action" href="#" data-tooltip="true" title="{{ lang.next }}">
				{{ 'chevron-right'|icon('iconify', 'o-icon c-toolbar-action-icon t-toolbar-action-icon')|safe }}
			</a>
		</li>
		<li class="o-bar-item c-toolbar-item">
			<a class="o-bar-action c-toolbar-action" href="#" data-tooltip="true" title="{{ lang.page_goto }}">
				1 - 25
			</a>
		</li>
		<li class="o-bar-item c-toolbar-item">
			<a class="o-bar-action c-toolbar-action" href="#" data-tooltip="true" title="{{ lang.prev }}">
				{{ 'chevron-left'|icon('iconify', 'o-icon c-toolbar-action-icon t-toolbar-action-icon')|safe }}
			</a>
		</li>
	</ul>
</div>
