<a class="o-bar-action c-toolbar-action" href="" data-toggle="menu" data-tooltip="true" title="{{ lang.jump_to }}">
	{{ 'outline-directions'|icon('inline', 'o-icon iconify o-bar-action-icon c-toolbar-action-icon')|safe }}
</a>
<div class="c-menu-container c-jumpto t-menu-container t-jumpto" data-container="menu">
	<ul class="c-menu t-menu">
	{% for item in forums %}
		{% if item.cat == 1 %}
			<li class="c-menu-header t-menu-header">
				<span class="c-menu-header-text t-forum-header-text">{{ item.name }}</span>
			</li>
		{% else %}
			<li class="c-menu-item t-menu-item">
				<a class="c-menu-link t-menu-link" href="{{ item.url }}" title="{{ item.name }}">
					{{ item.type|icon('inline', 'o-icon iconify c-menu-link-icon t-menu-forum-icon')|safe }}
					<span class="c-menu-text t-forum-text">{{ item.name }}</span>
				</a>
			</li>
			{% if item.subs %}
			<li class="c-menu-divider"></li>
				{% for sub in item.subs %}
					<li class="c-menu-item t-menu-item">
						<a class="c-menu-link t-menu-link" href="{{ sub.url }}" title="{{ sub.name }}">
							{{ 'circle-small-outline'|icon('inline', 'o-icon iconify c-menu-link-icon t-menu-forum-icon')|safe }}
							<span class="c-menu-text t-forum-text">{{ sub.name }}</span>
						</a>
					</li>
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endfor %}
	</ul>
</div>
