<div class="o-bar c-navbar t-navbar">
	<div class="o-bar-left c-navbar-left t-navbar-left"></div>
	<div class="o-bar-right c-navbar-right t-navbar-right">
		<a class="o-bar-item o-action c-navbar-action t-navbar-action" href="#" data-toggle="search" data-tooltip="true" title="{{ lang.search }}">
			{{ 'mdi:search'|icon('iconify', 'o-icon c-navbar-action-icon t-navbar-action-icon')|safe }}
		</a>
		<a class="o-bar-item o-action c-navbar-action t-navbar-action" href="#" data-tooltip="true" title="{{ lang.private_msgs }}">
			{{ 'mdi:inbox'|icon('iconify', 'o-icon c-navbar-action-icon t-navbar-action-icon')|safe }}
			<span class="o-tag o-bar-badge c-navbar-badge t-navbar-badge">{{ phpbb.pms }}</span>
			<span class="o-action-text c-navbar-action-text t-navbar-action-text u-sr-only">{{ lang.private_msgs }}</span>
		</a>
		<span class="o-bar-item c-navbar-item t-navbar-item">
			<a class="o-action c-navbar-action t-navbar-action" href="#" data-toggle="notifications" data-tooltip="true" title="{{ lang.notifications }}">
				{{ 'mdi:bell-outline'|icon('iconify', 'o-icon c-navbar-action-icon t-navbar-action-icon')|safe }}
				<span class="o-tag o-bar-badge c-navbar-badge t-navbar-badge">{{ phpbb.notifications }}</span>
				<span class="o-action-text c-navbar-action-text t-navbar-action-text u-sr-only">{{ lang.notifications }}</span>
			</a>
			{% include './notification.twig' %}
		</span>
		<a class="o-bar-item o-action c-navbar-action t-navbar-action" href="#" data-toggle="drawer" data-tooltip="true" title="{{ phpbb.user.name }}">
			<span class="o-avatar-wrap o-bar-avatar c-navbar-avatar t-navbar-avatar">
				<img class="o-avatar" src="{{ phpbb.user.avatar }}" alt="User Avatar">
				<span class="o-avatar-online"></span>
			</span>
		</a>
	</div>
</div>
