<div class="c-notification-container t-notification-container" data-container="notificiations">
	<div class="o-bar c-notification-header t-notification-header">
		<ul class="o-bar-left c-notification-bar-left t-notification-bar-left">
			<li class="o-bar-item c-notification-bar-item t-notification-bar-item">
				<h2 class="o-bar-title c-notification-bar-title t-notification-bar-title">{{ lang.notifications }}</h2>
			</li>
		</ul>
		<ul class="o-bar-right c-notification-bar-right t-notification-bar-right">
			<li class="o-bar-item c-notification-bar-item t-notification-bar-item">
				<a class="o-bar-action t-notification-bar-action" href="" data-tooltip="true" title="{{ lang.settings }}">
					{{ 'settings-outline'|icon('inline', 'o-icon c-notification-bar-action-icon t-notification-bar-action-icon')|safe }}
				</a>
			</li>
		</ul>
	</div>
	<ul class="o-list c-notification-list t-notification-list">
		{% for item in notification %}
			<li class="o-list-item c-notification-item t-notification-item{% if item.unread %} c-notification-unread t-notification-unread{% endif %}">
				<a class="o-list-media c-notification-media t-notification-media" href="{{ item.url }}">
					<span class="o-avatar-wrap o-list-avatar t-notification-list-avatar">
						<img class="o-avatar t-notification-avatar" src="{{ item.avatar }}" alt="User Avatar">
						{% if item.online %}
							<span class="o-avatar-online o-action-bar-avatar-online t-notification-action-bar-avatar-online"></span>
						{% endif %}
					</span>
				</a>
				<span class="o-list-primary c-notification-primary t-notification-primary">
					<span class="o-list-secondary c-notification-users t-notification-users">
						{{ 'account-circle-outline'|icon('inline', 'o-icon o-list-secondary-item-icon c-notification-list-secondary-item-icon t-notification-list-secondary-item-icon')|safe }}
						<a class="o-list-secondary-item-link t-notification-list-secondary-item-link" href="{{ item.url }}" style="color: {{ item.color }};">{{ item.user }}</a>
					{% for participant in item.participants %}, <a class="o-list-secondary-item-link t-notification-list-secondary-item-link" href="{{ participant.url }}" style="color: {{ participant.color }};">{{ participant.name }}</a>{% endfor %}
					</span>
					<span class="o-list-secondary c-notification-title t-notification-title">
						{{ 'page-last'|icon('inline', 'o-icon o-list-secondary-item-icon c-notification-list-secondary-item-icon t-notification-list-secondary-item-icon')|safe }}
						<a class="o-list-title t-notification-title" href="#"><strong>{{ item.title }}</strong></a>
					</span>
					<span class="o-list-secondary c-notification-time t-notification-time">
						{{ 'clock-outline'|icon('inline', 'o-icon o-list-secondary-item-icon c-notification-list-secondary-item-icon t-notification-list-secondary-item-icon')|safe }}
						<time class="c-notification-time-text t-notification-time-text" datetime="{{ item.time }}" title="{{ item.time }}" data-short="{{ item.time }}">{{ item.time }}</time>
					</span>
				</span>
				<a class="o-list-meta c-notification-meta t-notification-meta{% if item.approved == 1 %} c-notification-approved t-notification-approved{% elseif item.approved == 2 %} c-notification-unapproved t-notification-unapproved{% endif %}" href="" data-tooltip="true" title="{{ item.typeTitle|capitalize() }}">
					{{ item.type|icon('inline', 'o-icon o-list-media-icon t-notification-list-media-icon')|safe }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<div class="o-bar c-notification-footer t-notification-footer">
		<a class="o-bar-action c-notification-footer-action t-notification-footer-action" href="" title="{{ lang.see_all }}">
			{{ lang.see_all }}
		</a>
	</div>
</div>
