<div class="c-tab-pane t-tab-pane is-active" id="forum-permissions" role="tabpanel">
	<div class="c-tab-pane-row t-tab-pane-row">
		<span class="c-tab-pane-text t-tab-text" role="list">
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_post }}" role="listitem">
				{{ 'file-new'|icon('inline', 'o-icon c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_reply }}" role="listitem">
				{{ 'mdi:reply'|icon('iconify', 'o-icon c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_edit }}" role="listitem">
				{{ 'mdi:pencil-outline'|icon('iconify', 'o-icon c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_delete }}" role="listitem">
				{{ 'mdi:trash-outline'|icon('iconify', 'o-icon c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_attach }}" role="listitem">
				{{ 'mdi:attach-file'|icon('iconify', 'o-icon c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
		</span>
	</div>
</div>
