<div class="c-tab-pane t-tab-pane is-active" id="forum-permissions" role="tabpanel">
	<div class="c-tab-pane-row t-tab-pane-row">
		<span class="c-tab-pane-text t-tab-text" role="list">
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_post }}" role="listitem">
				{{ 'file-new'|icon('inline', 'o-icon iconify c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_reply }}" role="listitem">
				{{ 'reply'|icon('inline', 'o-icon iconify c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_edit }}" role="listitem">
				{{ 'pencil-circle-outline'|icon('inline', 'o-icon iconify c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_delete }}" role="listitem">
				{{ 'close-circle-outline'|icon('inline', 'o-icon iconify c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
			<span class="o-tag c-stat-badge t-stat-badge" data-tooltip="true" title="{{ lang.forum_attach }}" role="listitem">
				{{ 'attach-file'|icon('inline', 'o-icon iconify c-stat-badge-icon t-stat-badge-icon')|safe }}
			</span>
		</span>
	</div>
</div>
