<div class="c-post">
	<div class="o-bar c-post-bar">
		<div class="o-bar-left c-post-bar-left">
			<span class="o-bar-item c-post-bar-item">
				<a class="o-action o-bar-profile" href="" data-toggle="profile">
					<span class="o-avatar-wrap o-bar-avatar">
						<img class="o-avatar" src="{{ item.avatar }}" alt="User Avatar">
						<span class="o-avatar-online o-bar-avatar-online"></span>
					</span>
					<span class="o-bar-user" style="color: {{ item.color }};">
						{{ item.name }}
						<small class="o-bar-user-title">{{ item.rank }}</small>
					</span>
				</a>
				{% include './profile.twig' %}
			</span>
		</div>
		<div class="o-bar-right c-post-bar-right">
			<span class="o-bar-item o-bar-info c-post-meta-time u-hidden-xs-down">
				<time class="c-post-meta-time-text" datetime="{{ item.time }}" title="{{ item.time }}" data-short="{{ item.time }}">{{ item.time|moment("YYYYMMDD", true) }}</time>
			</span>
			<a class="o-bar-item o-action c-post-meta-number" href="#">
				<span class="c-post-meta-number-text">#{{ item.id }}</span>
			</a>
		</div>
	</div>
	<div class="c-post-body">
		<div class="c-copy">
			{{ item.content|safe }}
		</div>
		<div class="o-bar c-post-action-bar">
			<div class="o-bar-left c-post-action-bar-right"></div>
			<div class="o-bar-right c-post-action-bar-right">
				<span class="o-bar-item c-post-action-bar-item u-hidden-md-up">
					<a class="o-action c-post-action" href="#" data-tooltip="true" data-toggle="menu" data-placement="top" title="{{ lang.post_more_actions }}">
						{{ 'mdi:more-vert'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
					</a>
					<div class="c-menu-container t-menu-container" data-container="menu">
						<ul class="c-menu t-menu">
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'mdi:info-outline'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_info }}</span>
								</a>
							</li>
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'mdi:shield-alert-outline'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_warn }}</span>
								</a>
							</li>
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'fa-regular:flag'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_report }}</span>
								</a>
							</li>
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'mdi:share-variant'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_share }}</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				<a class="o-bar-item o-action c-post-action u-hidden-sm-down" href="" data-tooltip="true" title="{{ lang.post_info }}">
					{{ 'mdi:info-outline'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				<a class="o-bar-item o-action c-post-action u-hidden-sm-down" href="" data-tooltip="true" title="{{ lang.post_warn }}">
					{{ 'mdi:shield-alert-outline'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				<a class=" o-bar-item o-action c-post-action u-hidden-sm-down" href="" data-tooltip="true" title="{{ lang.post_report }}">
					{{ 'fa-regular:flag'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				<a class="o-bar-item o-action c-post-action u-hidden-sm-down" href="" data-tooltip="true" title="{{ lang.post_share }}">
					{{ 'mdi:share-variant'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				<a class="o-bar-item o-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_quote }}">
					{{ 'mdi:comment-quote-outline'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				<a class="o-bar-item o-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_delete }}">
					{{ 'mdi:trash-outline'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				</li>
				<a class="o-bar-item o-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_edit }}">
					{{ 'mdi:pencil-outline'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
				<a class="o-bar-item o-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_like }}">
					{{ 'mdi:heart-outline'|icon('iconify', 'o-icon o-action-icon c-post-action-icon')|safe }}
				</a>
			</div>
		</div>
	</div>
</div>
