<div class="c-post">
	<div class="o-bar c-post-header">
		<ul class="o-bar-left">
			<li class="o-bar-item">
				<a class="o-bar-action o-bar-profile" href="" data-toggle="menu">
					<span class="o-avatar-wrap o-bar-avatar">
						<img class="o-avatar" src="{{ item.avatar }}" alt="User Avatar">
						<span class="o-avatar-online o-bar-avatar-online"></span>
					</span>
					<span class="o-bar-user" style="color: {{ item.color }};">
						{{ item.name }}
						<small class="o-bar-user-title">{{ item.rank }}</small>
					</span>
				</a>
				{% include './profile.twig' %}
			</li>
		</ul>
		<ul class="o-bar-right">
			<li class="o-bar-item">
				<a class="o-bar-action c-post-meta-number" href="#">#{{ item.id }}</a>
			</li>
			<li class="o-bar-item">
				<span class="o-bar-info c-post-meta">
					<time datetime="{{ item.time }}" title="{{ item.time }}" data-short="{{ item.time }}">{{ item.time|moment("YYYYMMDD", true) }}</time>
				</span>
			</li>
		</ul>
	</div>
	<div class="c-post-body">
		<div class="c-copy">
			{{ item.content|safe }}
		</div>
		<div class="o-bar c-post-action-container">
			<ul class="o-bar-right c-post-action-right">
				<li class="o-bar-item c-post-action-item c-menu-toggle u-hidden-md-up">
					<a class="o-bar-action c-post-action c-menu-button" href="#" data-toggle="menu" data-placement="top" title="{{ lang.post_more_actions }}">
						{{ 'mdi:more-vert'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
					<div class="c-menu-container t-menu-container" data-container="menu">
						<ul class="c-menu t-menu">
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'mdi:info-outline'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_info }}</span>
								</a>
							</li>
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'mdi:shield-alert-outline'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_warn }}</span>
								</a>
							</li>
							<li class="c-menu-item t-menu-item">
								<a class="c-menu-link t-menu-item" href="">
									{{ 'fa-regular:flag'|icon('iconify', 'o-icon c-menu-link-icon t-menu-topic-icon')|safe }}
									<span class="c-menu-text t-topic-text">{{ lang.post_report }}</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="o-bar-item c-post-action-item u-hidden-sm-down">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_info }}">
						{{ 'mdi:info-outline'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item u-hidden-sm-down">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_warn }}">
						{{ 'mdi:shield-alert-outline'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item u-hidden-sm-down">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_report }}">
						{{ 'fa-regular:flag'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_share }}">
						{{ 'mdi:share-variant'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_quote }}">
						{{ 'mdi:comment-quote-outline'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_delete }}">
						{{ 'mdi:trash-outline'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_edit }}">
						{{ 'mdi:pencil-outline'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
				<li class="o-bar-item c-post-action-item">
					<a class="o-bar-action c-post-action" href="" data-tooltip="true" title="{{ lang.post_like }}">
						{{ 'mdi:heart-outline'|icon('iconify', 'o-icon o-bar-action-icon c-post-action-icon')|safe }}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
