<div class="o-bar o-bar-search t-bar-search" data-container="search">
	<form class="o-bar-search-form t-bar-search-form" action="./search.php" method="get" id="search" role="search">
		<a class="o-bar-search-toggle t-bar-search-toggle" href="#" data-tooltip="true" title="{{ lang.search }}">
			{{ 'search'|icon('inline', 'o-icon iconify o-bar-search-toggle-icon t-bar-search-toggle-icon')|safe }}
		</a>
		<input class="o-bar-search-feild t-bar-search-feild" name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang.search }}" value="" placeholder="Search…">
		<a class="o-bar-search-action t-bar-search-action" href="./search.php" data-tooltip="true" title="{{ lang.search_adv }}">
			{{ 'settings-outline'|icon('inline', 'o-icon iconify o-bar-search-toggle-icon t-bar-search-toggle-icon')|safe }}
			<span class="o-bar-action-text t-bar-action-text u-sr-only">
				{{ lang.search_adv }}
			</span>
		</a>
	</form>
</div>
