<div class="c-tab-card t-tab-card">
	<div class="c-tab-bar-frame t-tab-bar-frame">
		<nav class="c-tab-bar t-tab-bar" role="tablist" data-toggle="tabs">
			<a class="c-tab t-tab is-active" href="#whos-online" role="tab" aria-controls="whos-online">
				<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#online"></use></svg>
				<span class="c-tab-text t-tab-text">Who's Online</span>
			</a>
			<a class="c-tab t-tab" href="#statistics" role="tab" aria-controls="statistics">
				<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#stats"></use></svg>
				<span class="c-tab-text t-tab-text">Statistics</span>
			</a>
			<a class="c-tab t-tab" href="#birthdays" role="tab" aria-controls="birthdays">
				<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#cake"></use></svg>
				<span class="c-tab-text t-tab-text">Birthdays</span>
			</a>
		</nav>
	</div>
	<div class="c-tab-pane t-tab-pane is-active" id="whos-online" role="tabpane">
		<div class="c-tab-pane-row t-tab-pane-row">
			<h4 class="c-tab-pane-title t-tab-pane-title">Registered users:</h4>
			<span class="c-tab-pane-text t-tab-text">
				{% for item in online %}
					{% if item.group %}
						{% if item.bot %}
							<span style="color: {{item.group}};">{{item.name}}</span>
						{% else %}
							<a class="c-tab-pane-link" href="{{item.profile}}" style="color: {{item.group}};">{{item.name}}</a>
						{% endif %}
					{% else %}
						<a class="c-tab-pane-link" href="{{item.profile}}">{{item.name}}</a>
					{% endif %}
					{% if loop.last %}{% else %}, {% endif %}
				{% endfor %}
			</span>
		</div>
		<div class="c-tab-pane-row t-tab-pane-row">
			<div class="c-stat-wrap s-stat-wrap">
				<ul class="c-stat-list c-tab-pane-stats t-stat-list t-tab-pane-stats">
					<li class="c-stat-item t-stat-item">Total Online <span class="o-tag c-stat-badge t-stat-badge">{{stats.online.current}}</span></li>
					<li class="c-stat-item t-stat-item">Registered <span class="o-tag c-stat-badge t-stat-badge">{{stats.online.registered}}</span></li>
					<li class="c-stat-item t-stat-item">Hidden <span class="o-tag c-stat-badge t-stat-badge">{{stats.online.hidden}}</span></li>
					<li class="c-stat-item t-stat-item">Guests <span class="o-tag c-stat-badge t-stat-badge">{{stats.online.guests}}</span></li>
				</ul>
				<span class="c-stat-info t-stat-info">(based on users active over the past 60 minutes)</span>
			</div>
		</div>
		<div class="c-tab-pane-footer t-tab-pane-footer">
			<h4 class="c-tab-pane-title t-tab-pane-title">Legend:</h4>
			<span class="c-tab-pane-text t-tab-pane-text">
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#4F6772" href="./memberlist.php">Management Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#00BFA5" href="./memberlist.php">Development Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#B84FDB" href="./memberlist.php">Customisations Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#FFAB40" href="./memberlist.php">Support Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#3F54C0" href="./memberlist.php">Community Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#00BCD4" href="./memberlist.php">Infrastructure Team</a>
			</span>
		</div>
	</div>
	<div class="c-tab-pane t-tab-pane" id="statistics" role="tabpane">
		<div class="c-tab-pane-row t-tab-pane-row">
			<ul class="c-stat-list c-tab-pane-stats t-tab-list t-tab-pane-stats">
				<li class="c-stat-item t-stat-item">Total posts <span class="o-tag c-stat-badge t-stat-badge">{{stats.posts}}</span></li>
				<li class="c-stat-item t-stat-item">Total topics <span class="o-tag c-stat-badge t-stat-badge">{{stats.topics}}</span></li>
				<li class="c-stat-item t-stat-item">Total members <span class="o-tag c-stat-badge t-stat-badge">{{stats.members}}</span></li>
				<li class="c-stat-item t-stat-item">Most online <span class="o-tag c-stat-badge t-stat-badge">{{stats.online.most}}</span></li>
				<li class="c-stat-item t-stat-item">Newest member
					<a class="o-tag c-stat-badge c-stat-badge-link t-stat-badge" href="{{stats.newest.profile}}">{{stats.newest.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="c-tab-pane t-tab-pane" id="birthdays" role="tabpane">
		<div class="c-tab-pane-row t-tab-pane-row">
			<h4 class="c-tab-pane-title t-tab-pane-title">Congragulations: </h4>
			<span class="c-tab-pane-text t-tab-pane-text">
				{% for item in birthdays %}
					{% if item.group %}
						<a class="c-tab-pane-link" href="{{item.profile}}" style="color: {{item.group}};">{{item.name}}</a> ({{item.age}})
					{% else %}
						<a class="c-tab-pane-link" href="{{item.profile}}">{{item.name}}</a> ({{item.age}})
					{% endif %}
					{% if loop.last %}{% else %}, {% endif %}
				{% endfor %}
			</span>
		</div>
	</div>
</div>
