<li class="o-list-item c-topic-item t-topic-item" role="row">
	<span class="o-list-media">
		{% if item.status == 1 %}
			{% if item.type == 'sub' %}
				{{ 'forum'|icon('inline', 'o-icon iconify o-list-media-icon c-topic-read t-topic-read')|safe }}
			{% else %}
				{{ item.icon|icon('inline', 'o-icon iconify o-list-media-icon c-topic-read t-topic-read')|safe }}
			{% endif %}
		{% else %}
			{% if item.type == 'sub' %}
				{{ 'forum'|icon('inline', 'o-icon iconify o-list-media-icon c-topic-unread t-topic-unread')|safe }}
			{% else %}
				{{ item.icon|icon('inline', 'o-icon iconify o-list-media-icon c-topic-unread t-topic-unread')|safe }}
			{% endif %}
		{% endif %}
	</span>
	<span class="o-list-primary c-topic-primary t-topic-primary">
		<h4 class="c-topic-title t-topic-title" role="heading" aria-level="4">
			<a class="o-list-title c-topic-title-text t-topic-title-text" href="#">{{item.name}}</a>
		</h4>
		<span class="o-list-secondary c-topic-secondary t-topic-secondary">
			{% if item.type != 'sub' %}
				{% if item.approved == false %}
					<a class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-unapproved t-topic-unapproved" href="#" data-tooltip="true" title="{{ lang.unapproved }}">
						{{ 'alert-decagram-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					</a>
				{% endif %}
				<span class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-user t-topic-user">
					{{ 'account-circle-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					<a class="o-list-secondary-item-link" href="{{ item.author_profile }}" style="color: {{ item.author_color }};">{{ item.author }}</a>
				</span>
				<span class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-time t-topic-time">
					{{ 'clock-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					<time datetime="{{ item.time }}" title="{{ item.time }}" data-short="{{ item.time }}">{{ item.time|moment("YYYYMMDD", true) }}</time>
				</span>
				<span class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-views t-topic-views">
					{{ 'eye-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					{{ item.views }}
				</span>
				<span class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-replies t-topic-replies">
					{{ 'comment-text-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					{{ item.replies }}
				</span>
				{% if item.pages %}
					<a class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item" href="#" data-tooltip="true" title="{{ lang.page_goto }}">
						{{ 'pages'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					</a>
				{% endif %}
			{% else %}
				<span class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-subforum-topics t-topic-subforum-topics">
					{{ 'file-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					{{ item.topics }}
				</span>
				<span class="o-list-secondary-item c-topic-secondary-item t-topic-secondary-item c-topic-subforum-posts t-topic-subforum-posts">
					{{ 'comment-text-outline'|icon('inline', 'o-icon iconify o-list-secondary-item-icon c-topic-secondary-item-icon t-topic-secondary-item-icon')|safe }}
					{{ item.posts }}
				</span>
			{% endif %}
		</span>
	</span>
	<span class="o-list-meta c-topic-meta t-topic-meta">
		<span class="o-list-meta-primary c-topic-meta-primary t-topic-meta-primary">
			<a class="o-list-meta-link c-topic-link t-topic-link" href="{{ item.last_author_profile }}" style="color: #{{ item.last_color }};">{{ item.last_author }}</a>
			<span class="o-list-meta-secondary c-topic-meta-secondary t-topic-meta-secondary">
				<a class="o-list-meta-link c-topic-meta-link t-topic-meta-link" href="">
					<time datetime="{{ item.last_time }}" title="{{ item.last_time }}" data-short="{{ item.last_time }}">{{ item.last_time|moment("YYYYMMDD", true) }}</time>
				</a>
			</span>
		</span>
		<a class="o-list-meta-media c-topic-meta-media t-topic-meta-media" href="{{ item.last_author_profile }}">
			<span class="o-avatar-wrap o-list-avatar c-topic-avatar t-topic-avatar">
				<img class="o-avatar" src="{{ item.last_avatar }}" alt="User Avatar">
				<span class="o-avatar-online o-action-bar-avatar-online"></span>
			</span>
		</a>
	</span>
</li>
