<li class="o-list-item c-topic-item">
	<span class="o-list-media">
		<svg class="o-icon o-list-media-icon {% if topic.status === 1 %} c-topic-read{% else %} c-topic-unread{% endif %}"><use xlink:href="#{{topic.icon}}"></use></svg>
	</span>
	<span class="o-list-primary">
		<a class="o-list-title" href="#">{{topic.name}}</a>
		{% if topic.pages %}
			<ul class="c-paging c-topic-paging">
				{% for page in topic.pages %}
					{% if loop.last %}
						<li class="c-paging-item c-topic-paging-item"><a class="c-paging-link c-topic-paging-link" href="page={{ page }}" data-tooltip="Last Page" title="Go to Last page"><svg class="o-icon c-paging-link-icon c-topic-paging-link-icon"><use xlink:href="#last-page"></use></svg></a></li>
					{% else %}
						<li class="c-paging-item c-topic-paging-item"><a class="c-paging-link c-topic-paging-link" href="?page={{ page }}" data-tooltip="Page {{ page }}" title="Go to page {{ page }}">{{ page }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
		<span class="o-list-secondary">
			{% if topic.approved === false %}
				<a class="o-list-secondary-item c-topic-unapproved" href="#"><svg class="o-icon o-list-secondary-item-icon"><use xlink:href="#unapproved"></use></svg></a>
			{% endif %}
			<span class="o-list-secondary-item c-topic-user">
				<svg class="o-icon o-list-secondary-item-icon"><use xlink:href="#user"></use></svg>
				<a class="o-list-secondary-item-link" href="./memberlist.php?mode=viewprofile&amp;u=61815" style="color: #{{ topic.author_color }};">{{ topic.author }}</a>
			</span>
			<span class="o-list-secondary-item c-topic-time">
				<svg class="o-icon o-list-secondary-item-icon"><use xlink:href="#time"></use></svg>
				<time datetime="{{ topic.time }}" title="{{ topic.time }}" data-short="{{ topic.time }}">{{ topic.time|moment("YYYYMMDD", true) }}</time>
			</span>
			<span class="o-list-secondary-item c-topic-views">
				<svg class="o-icon o-list-secondary-item-icon"><use xlink:href="#views"></use></svg>
				{{ list.views }}
			</span>
			<span class="o-list-secondary-item c-topic-replies">
				<svg class="o-icon o-list-secondary-item-icon"><use xlink:href="#replies"></use></svg>
				{{ list.replies }}
			</span>
		</span>
	</span>
	<span class="o-list-meta c-topic-meta">
		<span class="o-list-meta-primary c-topic-meta-primary">
			<a class="o-list-meta-link c-topic-link" href="./memberlist.php?mode=viewprofile&amp;u=61815" style="color: #{{ topic.last_color }};">{{ topic.last_author }}</a>
			<span class="o-list-meta-secondary">
				<a class="o-list-meta-link" href="">
					<time datetime="{{ topic.last_time }}" title="{{ topic.last_time }}" data-short="{{ topic.last_time }}">{{ topic.last_time|moment("YYYYMMDD", true) }}</time>
				</a>
			</span>
		</span>
		<a class="o-list-meta-media" href="./memberlist.php?mode=viewprofile&amp;u=61815">
			<span class="o-avatar-wrap o-list-avatar">
				<img class="o-avatar" src="https://avatars2.githubusercontent.com/u/73081?v=4&amp;s=460" alt="User Avatar">
				<span class="o-avatar-online o-action-bar-avatar-online"></span>
			</span>
		</a>
	</span>
</li>
