{% block doctype %}<!DOCTYPE html><html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">{% endblock %}
{# BEGIN HEAD #}
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
	{% if META_KEYWORDS %}<meta name="keywords" content="{{ META_KEYWORDS }}">{% endif %}
	{% if META_DESCRIPTION %}<meta name="description" content="{{ META_DESCRIPTION }}">{% endif %}
	{{ META }}
	<title>{% block title %}{% if UNREAD_NOTIFICATIONS_COUNT %}({{ UNREAD_NOTIFICATIONS_COUNT }}) {% endif %}{% block title_inner %}{{ SITENAME }} - {% if S_IN_MCP %}{{ lang(L_MCP) }} - {% elseif S_IN_UCP %}{{ lang(UCP) }} - {% endif %}{{ PAGE_TITLE }}{% endblock %}{% endblock %}</title>

	{% block head_feeds %}
		{% if S_ENABLE_FEEDS %}
			{% if S_ENABLE_FEEDS_OVERALL %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ SITENAME }}" href="{{ U_FEED }}">{% endif %}
			{% if S_ENABLE_FEEDS_NEWS %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ lang(FEED_NEWS) }}" href="{{ U_FEED }}?mode=news">{% endif %}
			{% if S_ENABLE_FEEDS_FORUMS %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ lang(ALL_FORUMS) }}" href="{{ U_FEED }}?mode=forums">{% endif %}
			{% if S_ENABLE_FEEDS_TOPICS %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ lang(FEED_TOPICS_NEW) }}" href="{{ U_FEED }}?mode=topics">{% endif %}
			{% if S_ENABLE_FEEDS_TOPICS_ACTIVE %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ lang(FEED_TOPICS_ACTIVE) }}" href="{{ U_FEED }}?mode=topics_active">{% endif %}
			{% if S_ENABLE_FEEDS_FORUM and S_FORUM_ID %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ lang(FORUM) }} - {{ FORUM_NAME }}" href="{{ U_FEED }}?f={{ S_FORUM_ID }}">{% endif %}
			{% if S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID %}<link rel="alternate" type="application/atom+xml" title="{{ lang(FEED) }} - {{ lang(TOPIC) }} - {{ TOPIC_TITLE }}" href="{{ U_FEED }}?f={{ S_FORUM_ID }}&amp;t={{ S_TOPIC_ID }}">{% endif %}
		{% endif %}
	{% endblock %}

	{% if U_CANONICAL %}<link rel="canonical" href="{{ U_CANONICAL }}">{% endif %}

	{# BEGIN ASSETS #}
	{% block head_assets %}
		{# TODO: we need to either be able to use asset(), or have an T_ASSET_PATH #}
		{% block assets_core %}
			{# <link rel="stylesheet" href="{{ ROOT_PATH }}styles/rhea/assets/normalize.css"> #}
			<link rel="stylesheet" href="{{ ROOT_PATH }}styles/rhea/assets/core.css">
		{% endblock %}

		{% block assets_theme %}
			<link rel="stylesheet" href="{{ ROOT_PATH }}styles/rhea/assets/theme.css">
		{% endblock %}

		{% block assets_browsers %}
			<!--[if lte IE 9]><link rel="stylesheet" href="{{ ROOT_PATH }}styles/rhea/assets/ie.css"><![endif]-->
		{% endblock %}

		{% block assets_fonts %}
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,600,300,400,700,800&amp;subset=latin,cyrillic-ext,greek-ext,vietnamese,greek,latin-ext,cyrillic">
		{% endblock %}

		{% block assets_font_icons %}
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		{% endblock %}

		{$STYLESHEETS}
	{% endblock %}

	{% block head_javascripts %}{% endblock %}
	{# END ASSETS #}

	{% block head_favicon %}<link rel="shortcut icon" href="({{ ROOT_PATH }}styles/rhea/assets/theme/images/favicon.ico)" type="image/vnd.microsoft.icon">{% endblock %}
</head>
{# END HEAD #}

{# BEGIN BODY #}
{% block body %}
	{% block body_tag %}<body id="phpbb" class="nojs notouch section-{{ SCRIPT_NAME }} {{ S_CONTENT_DIRECTION }} {{ BODY_CLASS }}">{% endblock %}
	<div id="container" class="container">
		<div id="wrap" class="wrap">

			{# BEGIN HEADER #}
			{% block page_header %}
				<a id="top" class="anchor" accesskey="t"></a>

				<header id="page-header" class="page-header">
					{% block site_branding %}
					<div id="site-branding">
						<a id="site-logo" class="site-logo" href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" title="{% if U_SITE_HOME %}{{ lang(SITE_HOME) }}{% else %}{{ lang(INDEX) }}{% endif %}">{{ SITE_LOGO_IMG }}</a>
						<h1 class="site-title">{{ SITENAME }}</h1>
						<p class="site-description">{{ SITE_DESCRIPTION }}</p>
						<a class="anchor skiplink" href="#start_here">{{ lang(SKIP) }}</a>
					</div>
					{% endblock %}

					{% block site_search %}
						{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
						<div id="site-search" class="search-box search-header">
							<form action="{{ U_SEARCH }}" method="get" id="site-search-form">
								<fieldset>
									<input name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang(SEARCH_KEYWORDS) }}" class="inputbox search tiny" size="20" value="{{ SEARCH_WORDS }}" placeholder="{{ lang(SEARCH_MINI) }}" />
									<button class="button icon-button search-icon" type="submit" title="{{ lang(SEARCH) }}">{{ lang(SEARCH) }}</button>
									<a href="{{ U_SEARCH }}" class="button icon-button search-adv-icon" title="{{ lang(SEARCH_ADV) }}">{{ lang(SEARCH_ADV) }}</a>
									{{ S_SEARCH_HIDDEN_FIELDS }}
								</fieldset>
							</form>
						</div>
						{% endif %}
					{% endblock %}
				</header>

				{% block nav_header %}
				<nav id="nav-header" class="page-nav nav-header">
					{% include 'includes/nav_header.html.twig' %}
				</nav>
				{% endblock %}
			{% endblock %}
			{# END HEADER #}

			{# BEGIN SIDEBAR #}
			{% block page_sidebar %}
				<aside id="page-sidebar" class="page-sidebar">
					{% block sidebar_content %}{# content goes here #}{% endblock %}
				</aside>
			{% endblock %}
			{# END CONTENT #}

			{# BEGIN MAIN #}
			{% block page_main %}
				<a id="start_here" class="anchor"></a>

				{% if S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) %}
					{% block board_disabled %}
						<div id="information" class="board-disabled rules">
							<div class="inner">
								<strong>{{ lang(INFORMATION) }}{{ lang(COLON) }}</strong> {{ lang(BOARD_DISABLED) }}
							</div>
						</div>
					{% endblock %}
				{% endif %}

				<main id="page-main" class="page-main">
					{% block page_content %}{# content goes here #}{% endblock %}
				</main>
			{% endblock %}
			{# END MAIN #}

			{# BEGIN FOOTER #}
			{% block page_footer %}
				{% block nav_footer %}
				<nav id="nav-footer" class="page-nav nav-footer">
					{% include 'includes/nav_footer.html.twig' %}
				</nav>
				{% endblock %}

				<footer id="page-footer" class="page-footer">
				{% block copyright %}
					<div id="copyright" class="copyright">
						{{ CREDIT_LINE }}
						{% if TRANSLATION_INFO %}<br />{{ TRANSLATION_INFO }}{% endif %}
						{% block footer_debug %}
							{% if DEBUG_OUTPUT %}<br />{{ DEBUG_OUTPUT }}{% endif %}
							{% if app.debug %}
								Request method: {{ app.request.method }}<br />
								Application Environment: {{ app.environment }}
							{% endif %}
						{% endblock %}
						{% block footer_acp_link %}
							{% if U_ACP %}<br /><strong><a href="{{ U_ACP }}">{{ lang(ACP) }}</a></strong>{% endif %}
						{% endblock %}
					</div>
				{% endblock %}
				</footer>

				{% block footer_cron %}
				<div id="footer-cron" class="footer-cron">
					<a id="bottom" class="anchor" accesskey="z"></a>
					{% if not S_IS_BOT %}{{ RUN_CRON_TASK }}{% endif %}
				</div>
				{% endblock %}

				{% block footer_hidden %}
					<div id="darkenwrapper" data-ajax-error-title="{{ lang(AJAX_ERROR_TITLE) }}" data-ajax-error-text="{{ lang(AJAX_ERROR_TEXT) }}" data-ajax-error-text-abort="{{ lang(AJAX_ERROR_TEXT_ABORT) }}" data-ajax-error-text-timeout="{{ lang(AJAX_ERROR_TEXT_TIMEOUT) }}" data-ajax-error-text-parsererror="{{ lang(AJAX_ERROR_TEXT_PARSERERROR) }}">
						<div id="darken">&nbsp;</div>
					</div>
					<div id="loading_indicator"></div>

					<div id="phpbb_alert" class="phpbb_alert" data-l-err="{{ lang(ERROR) }}" data-l-timeout-processing-req="{{ lang(TIMEOUT_PROCESSING_REQ) }}">
						<a href="#" class="alert_close"></a>
						<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
					</div>
					<div id="phpbb_confirm" class="phpbb_alert">
						<a href="#" class="alert_close"></a>
						<div class="alert_text"></div>
					</div>
				{% endblock %}
			{% endblock %}
			{# END FOOTER #}

		</div>{# .wrap #}
	</div>{# .container #}

	{# BEGIN FOOTER JAVASCRIPTS #}
	{% block footer_javascripts %}
		{% block js_include_jquery %}
			<script src="{{ T_JQUERY_LINK }}"></script>
			{% if S_ALLOW_CDN %}<script>window.jQuery || document.write(unescape('%3Cscript src="{{ T_ASSETS_PATH }}/javascript/jquery.min.js?assets_version={{ T_ASSETS_VERSION }}" type="text/javascript"%3E%3C/script%3E'));</script>{% endif %}
		{% endblock %}
		{% block js_include_core %}
			<script src="{{ T_ASSETS_PATH }}/javascript/core.js?assets_version={{ T_ASSETS_VERSION }}"></script>
		{% endblock %}
		{% block js_include_style %}
			{% INCLUDEJS forum_fn.js %}
			{% INCLUDEJS ajax.js %}
		{% endblock %}

		{# {$SCRIPTS} TODO #}
	{% endblock %}
	{# END FOOTER JAVASCRIPTS #}
</body>
{% endblock %}
{# END BODY #}
</html>
