{% extends 'base.html.twig' %}

{% block page_content %}

<p class="{S_CONTENT_FLOW_END} responsive-center time<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF S_USER_LOGGED_IN --><p class="responsive-center time">{CURRENT_TIME}</p><!-- ENDIF -->


<!-- IF U_MARK_FORUMS -->
	<div class="action-bar compact">
		<a href="{U_MARK_FORUMS}" class="mark-read rightside" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a>
	</div>
<!-- ENDIF -->

{% include 'includes/forumlist.html.twig' with{'array':loops.forumrow}  %}

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username"><span>{L_USERNAME}{L_COLON}</span> <input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" /></label>
			<label for="password"><span>{L_PASSWORD}{L_COLON}</span> <input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" /></label>
			<!-- IF U_SEND_PASSWORD -->
				<a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
			<!-- ENDIF -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
				<span class="responsive-hide">|</span> <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
<!-- ENDIF -->

{% endblock %}

{% block page_sidebar %}
	{% embed 'includes/sidebar.html.twig' %}

		{% if S_DISPLAY_ONLINE_LIST %}
			{% block widgets_secondary %}
				{{ parent() }}

				{% block widget_online %}
					<div id="widget-online" class="widget online">
						<h3>{% if U_VIEWONLINE %}<a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a>{% else %}{{ lang('WHO_IS_ONLINE') }}{% endif %}</h3>
						<p>
							{{ TOTAL_USERS_ONLINE }} ({{ lang('ONLINE_EXPLAIN') }})<br />{{ RECORD_USERS }}<br /> <br />{{ LOGGED_IN_USER_LIST }}
							{% if LEGEND %}<br /><em>{{ lang('LEGEND') }}{{ lang('COLON') }} {{ LEGEND }}</em>{% endif %}
						</p>
					</div>
				{% endblock %}
			{% endblock %}
		{% endif %}

		{% if S_DISPLAY_BIRTHDAY_LIST or NEWEST_USER %}
			{% block widgets_tertiary %}
				{{ parent() }}

				{% if S_DISPLAY_BIRTHDAY_LIST %}
					{% block widget_birthdays %}
						<div id="widget-birthdays" class="widget birthdays">
							<h3>{{ lang('BIRTHDAYS') }}</h3>
							<p>{% if loops.birthdays %}
									{{ lang('CONGRATULATIONS') }}{{ lang('COLON') }}
									{% for user in loops.birthdays %}
										{{ user.USERNAME }}{% if user.AGE != '' %} ({{ user.AGE }}){% endif %}{% if not loop.last %}, {% endif %}
									{% endfor %}
								{% else %}
									{{ lang('NO_BIRTHDAYS') }}
								{% endif %}</p>
						</div>
					{% endblock %}
				{% endif %}

				{% if NEWEST_USER %}
					{% block widget_statistics %}
						<div id="widget-statistics" class="widget statistics">
							<h3>{{ lang('STATISTICS') }}</h3>
							<p>{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }} &bull; {{ NEWEST_USER }}</p>
						</div>
					{% endblock %}
				{% endif %}
			{% endblock %}
		{% endif %}

	{% endembed %}
{% endblock %}
