{% extends 'base.html.twig' %}

{% block title_inner %}{{ PAGE_TITLE }} - {{ SITENAME }}{% endblock %}

{% block page_content %}

<h2 class="topic-title"><!-- EVENT viewtopic_topic_title_prepend --><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT viewtopic_topic_title_append --></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->

<!-- IF MODERATORS -->
<p>
	<strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</strong> {MODERATORS}
</p>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">
		<div class="inner">

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

		</div>
	</div>
<!-- ENDIF -->

<div class="action-bar top">

	<div class="buttons">
		<!-- EVENT viewtopic_buttons_top_before -->

	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<a href="{U_POST_REPLY_TOPIC}" class="button icon-button <!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->">
			<!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF -->
		</a>
	<!-- ENDIF -->

		<!-- EVENT viewtopic_buttons_top_after -->
	</div>

	{# <!-- INCLUDE viewtopic_topic_tools.html --> TODO #}

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box">
			<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny"  type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_TOPIC}" />
				<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
				<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
				{S_SEARCH_LOCAL_HIDDEN_FIELDS}
			</fieldset>
			</form>
		</div>
	<!-- ENDIF -->

	<!-- IF .pagination or TOTAL_POSTS -->
		<div class="pagination">
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}" class="mark">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->{TOTAL_POSTS}
			<!-- IF .pagination -->
				{% include 'includes/pagination.html.twig' %}
			<!-- ELSE -->
				&bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

</div>

{% if S_HAS_POLL %}
	{% include 'includes/poll.html.twig' %}
{% endif %}

{% for postrow in loops.postrow %}
	{% include 'includes/postrow.html.twig' with{'postrow':postrow} %}
{% endfor %}

<!-- IF S_QUICK_REPLY -->
	{# <!-- INCLUDE quickreply_editor.html --> TODO #}
<!-- ENDIF -->

<!-- IF S_NUM_POSTS > 1 or .pagination -->
	<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}">
	<fieldset class="display-options" style="margin-top: 0; ">
		<!-- IF not S_IS_BOT -->
		<label>{L_DISPLAY_POSTS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR}</label>
		<input type="submit" name="sort" value="{L_GO}" class="button2" />
		<!-- ENDIF -->
	</fieldset>
	</form>
	<hr />
<!-- ENDIF -->

<!-- EVENT viewtopic_body_topic_actions_before -->
<div class="action-bar bottom">
	<div class="buttons">
		<!-- EVENT viewtopic_buttons_bottom_before -->

	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<a href="{U_POST_REPLY_TOPIC}" class="button icon-button <!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->">
			<!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF -->
		</a>
	<!-- ENDIF -->

		<!-- EVENT viewtopic_buttons_bottom_after -->
	</div>

	{# <!-- INCLUDE viewtopic_topic_tools.html --> TODO #}

	<!-- IF .quickmod -->
		<div class="dropdown-container dropdown-container-{S_CONTENT_FLOW_BEGIN} dropdown-up dropdown-{S_CONTENT_FLOW_END} dropdown-button-control" id="quickmod">
			<span title="{L_QUICK_MOD}" class="dropdown-trigger button icon-button modtools-icon dropdown-select">{L_QUICK_MOD}</span>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
				<!-- BEGIN quickmod -->
					<!-- DEFINE $QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) -->
					<li><a href="{quickmod.LINK}"<!-- IF $QUICKMOD_AJAX --> data-ajax="true" data-refresh="true"<!-- ENDIF -->>{quickmod.TITLE}</a></li>
				<!-- END quickmod -->
				</ul>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF .pagination or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS}
			<!-- IF .pagination -->
				{% include 'includes/pagination.html.twig' %}
			<!-- ELSE -->
				&bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	<div class="clear"></div>
</div>

<!-- EVENT viewtopic_body_footer_before -->

{% endblock page_content %}

{% block page_sidebar %}
	{% embed 'includes/sidebar.html.twig' %}

		{% if S_DISPLAY_ONLINE_LIST %}
			{% block widgets_secondary %}
				{{ parent() }}

				{% block widget_online %}
					<div id="widget-online" class="widget online">
						<h3>{% if U_VIEWONLINE %}<a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a>{% else %}{{ lang('WHO_IS_ONLINE') }}{% endif %}</h3>
						<p>{{ LOGGED_IN_USER_LIST }}</p>
					</div>
				{% endblock %}
			{% endblock %}
		{% endif %}
	{% endembed %}
{% endblock page_sidebar %}
