<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content=" ">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bas-El - CSS Framework{% endblock %}</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="dist/assets/css/core.css" media="all" />
    {% block styles %}{% endblock %}

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    {% block fonts %}{% endblock %}

    <!-- JS HEADER -->
    {% block header_js %}{% endblock %}

</head>
<body>
    <!-- ICONS -->
    {% block icons %}{% endblock %}
    {% block header %}
    <header class="hero">
        <hgroup class="hero-container container">
            <div class="hero-header">
                <img src="dist/assets/imgs/bas-el_logo.svg" height="48px" alt="Bas-El" />
            </div>
            <div class="hero-body o-grid">
                <h1 class="hero-heading">
                    A modular, layered true CSS Framework
                    <p class="hero-copy">
                        Built as a base layer for large, scalable yet customizable web applications such as PHPBB.
                    </p>
                </h1>
            </div>
            <nav>
                <a href="#">About</a>
                <a class="active" href="#">Docs</a>
                <a href="#">Github</a>
                <a href="#">Download</a>
            </nav>
        </hgroup>
    </header>
    {% endblock %}
    <div class="container">
            <div class="o-grid">
                <div class="o-col o-col-2-l">
                    {% block sidebar %}
                    <nav class="menu-container affix">
                        <ul id="menu" class="menu">
                            {% for section, item in sections %}
                            <li><a class="menu-item menu-heading" href="#{{ section }}">{{ loop.index }}. {{ section|title }}</a></li>
                                {% for name, value in item %}
                            <li>><a class="menu-item" href="#{{ name }}">{{ loop.parent.loop.index }}.{{ loop.index }} {{ name|title }}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endblock %}
                </div>

                <div class="o-col o-col-10-l">
                    {% block content %}
                    {% for section, item in sections %}
                    <div id="{{ section }}" class="{{ section }}">
                        {% for name, value in item %}
                        {% include './partials/{{ section }}.{{ name }}.twig' %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
            <footer>
            {% block footer %} {% endblock %}
            </footer>
        </div>
    </div>

    <!-- JS FOOTER -->
    {% block footer_js %}
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="dist/assets/js/vendor/prism.js"></script>
    <script src="dist/assets/js/application.js"></script>
    {% endblock %}
</body>
</html>
